<% include ../partials/header.ejs%>
	<% include ../partials/auth_nav.ejs%>


		<div class="row">

			<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">


				<form method="get">
					<h4>Search Schools By Name:</h4>
					<input name="q" value="<%= searchTerm %>" type="text" class="form-control" placeholder="School Name">
					<input type="submit" value="Search" class="btn btn-primary btn-sm">
					<% if(searchTerm){ %>
						<a href="/auth/search">Clear Search</a>
						<% } %>
				</form>
			</div>
		</div>
		<div class="row">

			<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 col-lg-offset-5 col-lg-2 center-block">

				<% if (schools) {%>
					<table class="table table-responsive table-bordered">
						<tr>
							<th>Search Results:</th>
							<th></th>
						</tr>

						<% schools.forEach(function(school){ %>
							<form method="post" action="/auth">
								<tr>

									<td>
										<span><%=school.name %></span><span><input type="hidden" name="schoolname" value="<%=school.name %>"</span>


									</td>
									<td class="address">
										<%=school.address%>
									</td>
									<td>
										<%=school.website%>
									</td>
									<td>
										<button type="submit" id="btnAdd" name="unitId" value="<%=school.unitId%>" class="btn btn-sm btn-primary">Add To My Lists</button>
							</form>
							</td>
							</tr>

							<% }) %>

					</table>
					<% } %>

			</div>
			<% include ../partials/footer.ejs%>